# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: GOST Urbanization
author: Benjamin P. Stewart
logo: images/logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force
  allow_errors: true

# only build files in toc
only_build_toc: true

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/worldbank/GOST_Urban # Online location of your book
  path_to_book: docs # Optional path to your book, relative to the repository root
  branch: main # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: false
  use_repository_button: true

# specify sphinx extensions
sphinx:
  extra_extensions:
    - sphinx.ext.napoleon
    - sphinxcontrib.apidoc
  config:
    apidoc_module_dir: ../src
