name: tests

on:
  push:
  pull_request:

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: false
          activate-environment: test-env
          auto-activate-base: false
          channels: conda-forge
          channel-priority: strict

      - name: Install dependencies then test
        run: |
          conda install -y python=3.10 gdal pip
          python -m pip install .[dev]
          python -m coverage run -m pytest
